.modal {
    position: relative;
    z-index: auto;
    height: 75vh;
    overflow: visible;
}

.modal-header {
    gap: 1rem;
}

.header-pills {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
